 body {
                font-family: Arial, sans-serif;
                padding: 20px;
            }
            .calculator {
                max-width: 510px;
                margin: 0 auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 8px;
            }
            label {
                display: block;
                margin-top: 10px;
                font-weight: bold;
            }
            input[type="number"] {
                width: 100%;
                padding: 8px;
                margin-top: 5px;
                box-sizing: border-box;
            }
            button {
                margin-top: 20px;
                padding: 10px 15px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            #results {
                margin-top: 30px;
                padding: 15px;
                border: 2px dashed #88d6ee;
                border-radius: 4px;
                background-color: #f0fff0;
            }

            .text-resultado {
                font-weight: lighter;
            }
            /* Estilo para manejar números grandes fácilmente */
            .currency {
                font-size: 1.1em;
                font-weight: bold;
                color: #d35400;
            }

            .ahorro{
                font-size: 1.1em;
                font-weight: bold;
                color: #00d312;
            }