body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.calculator {
    max-width: 510px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    background-color: #f3f7fe;
    color: #3b82f6;
    border: 1px solid #3b82f6;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
    height: 45px;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

#results {
    margin-top: 30px;
    padding: 15px;
    border: 2px dashed #88d6ee;
    border-radius: 4px;
    background-color: #f0fff0;
}

.text-resultado {
    font-weight: lighter;
}
/* Estilo para manejar números grandes fácilmente */
.currency {
    font-size: 1.1em;
    font-weight: bold;
    color: #d35400;
}

.ahorro {
    font-size: 1.1em;
    font-weight: bold;
    color: #00d312;
}

/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: #0a3cff;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #ced8ff;
    z-index: -1;
    transform-origin: bottom;

    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #e7ecff;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
    width: 48px;
    height: 48px;
}

.content .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
    text-decoration: underline;
}

.card:hover {
    transform: translate(0px, -16px);
}

.card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
}

.card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
}

input::placeholder {
    color: lightslategrey;
    font-weight: lighter;
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
